.export-box {
    >div {
        display: flex;
        align-items: center;

        nz-select {
            flex-grow: 1;
        }
    }

    button {
        margin-top: 15px;
        width: 100%;
    }
}