.map {
    width: 100vw;
    height: 100vh;
}

.left-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #CCC;
    border-radius: 10px;
    top: 15px;
    left: 15px;
    padding: 10px;
    // width: 50px;
    max-height: calc(100vh - 20px);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.right-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #CCC;
    border-radius: 10px;
    top: 15px;
    right: 15px;
    padding: 10px 0;
    width: 300px;
    max-height: calc(100vh - 30px);
}

.search-box {
    position: absolute;
    top: 15px;
    left: 75px;
    width: 300px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.filter-box {
    padding: 0 10px;

    nz-button-group {
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            flex-grow: 1;
        }
    }

    nz-input-group {
        margin-top: 10px;
    }
}

.info-box {
    position: absolute;
    top: 15px;
    right: 330px;
    width: 300px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.toolbox {
    display: flex;
    flex-direction: column;

    button {
        margin: 5px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.content-box {
    margin-top: 10px;
    height: calc(100vh - 125px);
    width: 100%;
    position: relative;

    .item-list {
        display: flex;
        flex-direction: column;

        .item {
            position: relative;
            height: 80px;
            width: calc(100% - 20px);
            border-bottom: 1px solid #CCC;
            cursor: pointer;
            background: #FFF;
            box-shadow: 0 0 5px #CCC;
            flex-grow: 0;
            flex-shrink: 0;
            margin-top: 10px;
            margin-left: 10px;
            border-radius: 10px;
            padding: 10px;
            transition: all 0.3s;
            overflow: hidden;

            .addr {
                font-size: 12px;
                color: #666;
            }

            .del-btn {
                position: absolute;
                right: 10px;
                bottom: 10px;
                cursor: pointer;

                &:hover {
                    color: rgb(0, 108, 190);
                }
            }

            &:hover {
                box-shadow: 0 0 5px rgb(0, 108, 190);
            }

            &.active {
                background: rgb(0, 108, 190);
                color: #FFF;

                .addr {
                    color: #ddd;
                }

                .del-btn {
                    color: #ddd;

                    &:hover {
                        color: #FFF;
                    }
                }
            }

            &.removeShow {
                visibility: hidden;
            }

            &.removeHeight {
                visibility: hidden;
                height: 0;
                padding: 0;
                margin-top: 0;
            }
        }
    }
}