<div class="map" id="container"></div>
<div class="left-box">
    <div class="toolbox">
        <button (click)="openSearchBar()" nz-button [nzType]="showSearch?'primary':'default'">
            <i class="fa-light fa-magnifying-glass"></i>
        </button>
        <nz-divider style="margin: 6px 0;"></nz-divider>
        <button (click)="createPonit()" nz-button disabled>
            <i class="fa-light fa-location-dot"></i>
        </button>
        <button (click)="createLine()" nz-button disabled>
            <i class="fa-light fa-route"></i>
        </button>
        <button (click)="createPolygon()" nz-button>
            <i class="fa-light fa-draw-polygon"></i>
        </button>
        <nz-divider style="margin: 6px 0;"></nz-divider>
        <button (click)="importFile()" nz-button>
            <i class="fa-light fa-gear"></i>
        </button>
        <button (click)="importFile()" nz-button>
            <i class="fa-light fa-file-import"></i>
        </button>
        <button (click)="openExportBox()" nz-button [nzType]="showExport?'primary':'default'">
            <i class="fa-light fa-cloud-arrow-down"></i>
        </button>
        <nz-divider style="margin: 6px 0;"></nz-divider>
        <button (click)="gotoGithub()" nz-button>
            <i class="fa-brands fa-github"></i>
        </button>
    </div>
</div>
<div class="right-box">
    <div class="filter-box">
        <nz-button-group>
            <button nz-button nzType="default" disabled>
                <i class="fa-light fa-location-dot"></i>
                <!-- 点位 -->
            </button>
            <button nz-button nzType="default" disabled>
                <i class="fa-light fa-route"></i>
                <!-- 线路 -->
            </button>
            <button nz-button nzType="default">
                <i class="fa-light fa-draw-polygon"></i>
                <!-- 区域 -->
            </button>
        </nz-button-group>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="关键词搜索" [(ngModel)]="keyword" (ngModelChange)="keywordChange()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch>
                <i class="fa-light fa-magnifying-glass"></i>
            </button>
        </ng-template>
    </div>

    <div class="content-box" [perfectScrollbar]="{}">
        <div class="item-list">
            <div class="item animate__animated animate__faster" *ngFor="let gisItem of resultList"
                (click)="selectItem(gisItem)" [ngClass]="{
                'active': selected===gisItem,
                'animate__flipOutX':gisItem.removeState==1,
                'removeShow':gisItem.removeState==2,
                'removeHeight':gisItem.removeState==3
            }">
                <div class="name">{{gisItem.name}}
                    <div class="del-btn" (click)="delLandBlock(gisItem,$event)">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
                <div class="addr">{{gisItem.addr}}</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showSearch" class="search-box animate__animated animate__faster animate__fadeInDown">
    <app-search-box></app-search-box>
</div>
<div *ngIf="showExport" class="export-box animate__animated animate__faster animate__fadeInDown">
    <app-export-box></app-export-box>
</div>
<div *ngIf="selected" class="info-box animate__animated animate__faster animate__fadeInDown">
    <app-info-box [data]="selected"></app-info-box>
</div>